<div class="container">
  <mat-card>
    <form class="example-form" [formGroup]="formEmployee">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Name:</mat-label>
        <input matInput formControlName="firstName" placeholder="Ex. Heading...">
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>LastName:</mat-label>
        <input matInput formControlName="lastName" placeholder="Ex. Content...">
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Email:</mat-label>
        <input matInput formControlName="emailId" placeholder="Ex. Content...">
      </mat-form-field>
      <mat-card-actions align="end">
        <button mat-raised-button color="primary" *ngIf="action === ''" (click)="onCreate()">Create</button>
        <button mat-raised-button color="primary" *ngIf="action === 'update'" (click)="onUpdate()">Update</button>
        <button mat-raised-button color="primary" *ngIf="action !== ''" (click)="onCancel()">Cancel</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
