table {
  width: 100%;

}

.mat-form-field {
  font-size: 14px;
  width: 100%;

}

span{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 5px;
}


.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  }
